<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <title>My little website for WEB322</title>
</head>

<body>
    <nav class="navbar navbar-default nav-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#">
            <img
              src="../public/images/Arsenicolos-logo.png"
              width="30"
              height="30"
              alt="Logo"
            />
          </a> -->
                <span class="navbar-brand" href="#">WEB322 - Amir Sabagh</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-custom" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-custom">
                    {{#navLink "/"}}Home{{/navLink}}
                    {{#navLink "/about"}}About{{/navLink}}
                </ul>
                {{#if session.user}}
                <ul class="nav navbar-nav navbar-right navbar-custom">
                    <li><a href="/images">Images</a></li>
                    <li><a href="/employees">Employees</a></li>
                    <li><a href="/managers">Managers</a></li>
                    <li><a href="/departments">Departments</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu"
                            data-toggle="dropdown">
                            <span
                                class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}&nbsp;&nbsp;<span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userMenu">
                            <li><a href="/userHistory">User History</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {{#navLink "/images"}}Images{{/navLink}}
                    {{#navLink "/employees"}}Employees{{/navLink}}
                    {{#navLink "/departments"}}Departments{{/navLink}}
                </ul>
                {{/if}}
                {{#unless session.user}}
                <form class="navbar-form navbar-right">
                    <a href="/register" class="btn btn-success"><span
                            class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
                    <a href="/login" class="btn btn-primary"><span
                            class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
                </form>
                {{/unless}}
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
    <div class="header-cover p-5 text-center bg-image"></div>
    <div class="container">
        {{{body}}}
    </div>
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class="col-sm-8 col-md col-sm-8 col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Coming Soon</h5>
                    <!--headin5_amrc-->
                    <p class="mb10">
                        Stay tuned. We'll be online in less than a month. Subscribe to our
                        newsletter to get informed of the day we are going to rock the
                        world. Keep Safe! Duis egestas cursus diam, ut volutpat tortor
                        mattis tempor. In et imperdiet turpis. Proin aliquet, lectus
                        ultrices fringilla lobortis, purus risus imperdiet neque, eget
                        consectetur ligula quam non arcu. Curabitur vitae posuere elit, in
                        faucibus felis.
                    </p>
                    <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35</p>
                    <p><i class="fa fa-phone"></i> +91-9999878398</p>
                    <p><i class="fa fa fa-envelope"></i> info@example.com</p>
                </div>

                <div class="col-sm-4 col-md col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/images">Images</a></li>
                        <li><a href="/employees">Employees</a></li>
                        <li><a href="/managers">Managers</a></li>
                        <li><a href="/departments">Departments</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>
            </div>
        </div>

        <div class="container">
            <p class="text-center foote_bottom_ul_amrc">
                &#169; Copyright 2021 | Designed With &#10084; by
                <b>Amirhossein Sabagh</b>
            </p>
        </div>
    </footer>

    <!-- Latest compiled and minified jQuery 3.2.1 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.3.7 JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../index.js"></script>
</body>

</html>